<ng-container style="height: 10vh;">
  <button (click)="resetFilters()">Reset Filters</button>

  <button type="button" *ngIf="isDownloadVisible" (click)="download()">Download</button>
</ng-container>

<hr>

<ag-grid-angular
  style="height: 90vh;"
  class="ag-theme-alpine lectures-list"
  [rowData]="lectures"
  [columnDefs]="columns"
  [defaultColDef]="defaultColumnDefinitions"
  [rowMultiSelectWithClick]="true"
  rowSelection="multiple"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  (gridReady)="onGridReady($event)"
  (selectionChanged)="onSelectionChanged($event)"
>
</ag-grid-angular>
